
blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.container {
    width: 1200px;
    margin: 100px auto;
    h1 {
        font-size: 27px;
        font-weight: 600;
        background: rgb(255, 228, 232);
        padding: 15px;
        border-left: 3px solid#ec6b81;
        line-height: 1.4;
    }
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.about-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p,
.about_desc {
    line-height: 1.7143;
}

.about-sup {
    display: flex;
    width: 100%;
    padding: 40px 20px;
    height: 100px;
    background-color: #e4c7cc;
    justify-content: space-around;
    align-items: center;
}

.icon-box {
    border: 3px solid rgba(236, 107, 129, 0.6);
    border-radius: 50%;
    height: 80px;
    line-height: 75px;
    left: 0;
    position: absolute;
    top: 0;
    text-align: center;
    transition: all 0.3s ease-out;
    width: 80px;
}

.icon-box::before {
    border: 3px dashed rgba(236, 107, 129, 0.6);
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-radius: 50%;
    z-index: 10;
    opacity: 0;
    animation: spinAround 9s linear infinite;
    transform: scale(0);
    transition: all 0.3s ease-out;
}

@keyframes spinAround {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.sup-img {
    vertical-align: middle;
}

.about-sup_group {
    display: flex;
    gap: 15px;
    align-items: center;
    position: relative;
    padding-left: 100px;
}

.about-sup_group:hover .icon-box::before {
    opacity: 1;
    transform: scale(1);
}

.about-sup_group:hover .icon-box {
    border: 3px solid transparent;
}

.about-sup_info {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sup-title {
    font-size: 20px;
    font-weight: 600;
}

.desc {
    font-size: 16px;
    line-height: 1;
}