body,
html {
    background-color: rgb(236, 236, 236);
}

#product_select {
    margin: 0 auto;
    margin-top: 13vh;
    width: 90%;
    height: max-content;

    & .product__preview {
        background-color: #fff;
        height: calc(100vh - 13vh);
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 100%;

        & .product__preview--img {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &>img {
                height: 60%;
                width: 100%;
                object-fit: contain;
            }

            &>div {
                height: 20%;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 1vw;

                &>img {
                    height: 5vw;
                    cursor: pointer;
                    width: 5vw;
                    object-fit: contain;
                    border: 2px solid #55555555;

                    &.active {
                        border: 2px solid var(--bgcolor-);
                    }
                }
            }
        }

        & .product__preview--info {
            & table {
                width: 90%;
                height: 60%;
                margin: auto;
                margin-top: 10%;

                &>caption {
                    font-weight: bold;
                    color: black;
                    caption-side: top;

                    &:first-child {
                        font-size: 2vw;
                    }
                }

                & th {
                    width: 30%;
                }

                & td {
                    width: 30%;
                    text-wrap: nowrap;
                }

                & input[type="number"] {
                    height: 2vw;
                    text-align: center;

                    &::-webkit-inner-spin-button {
                        width: 0;
                        display: none;
                        text-align: center;

                    }
                }

                & input[type="text"] {
                    height: 2vw;
                    border: none;
                    font-weight: bold;
                    font-size: 1.2vw;
                    color: var(--bgcolor-);

                }

                & .index_amount button {
                    width: 2vw;
                    height: 2vw;
                    border: 1px solid #0000005b;
                }

                & button[type='submit'] {
                    height: 3vw;
                    border: 1px solid #0000005b;
                    background-color: var(--bgcolor-);
                    padding: 0 1vw;
                    color: #fff;
                    font-weight: bold;
                    border-radius: 5px;

                    &:hover {
                        background-color: red;
                    }
                }

                & select {
                    padding: 0.2vw 1vw;
                }
            }
        }
    }

    & .product__brand {
        height: 25vh;
        width: 100%;
        background-color: #fff;
        margin-top: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-around;

        & .product__brand--img {
            width: 25%;
            height: 80%;
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            border-radius: 5%;

            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
                transform: scale(0.6);
            }
        }

        & .product__brand--name {
            width: 30%;
            height: 80%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            & h1 {
                width: 100%;
                font-size: 2vw;
                font-weight: bold;
                text-align: center;
            }

            & a{
                text-decoration: underline;
            }
        }
        &>a{
            width: 20%;
            height: 80%;
            font-size: 3vw;
            display: flex;
            align-items: center;
            justify-content: center;
            color: black;
            &:hover{
                & i{
                    transform: translateX(100%);
                    color: var(--bgcolor-);
                }
            }
        }
    }

    & .product__details{
        margin-top: 5vh;
        background-color: #fff;
        height: 70vh;
        
        & .product__details--button{
            margin-top: 2%;
            width: 90%;
            height: 10vh;
            margin: auto;
            display: flex;
            align-items: center;
            gap: 3vw;

            & button{
                position: relative;
                height: 80%;
                background-color: #00000000;
                border: none;
                line-height: 100%;
                font-weight: bold;
                font-size: 1.2vw;
                color: #0000005b;

                &.active{
                    color: var(--bgcolor-);
                    &::after{
                        display: block;
                    }
                }

                &::after{
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0.5vh;
                    display: none;
                    background-color: var(--bgcolor-);
                }
            }
        }

        & .product__details--display{
            width: 90%;
            height: calc(100% - 15vh);
            margin: auto;
            margin-top: 2vh;
            overflow-y: auto;

            table{
                width: 100%;
                & tr:nth-child(odd){
                    background-color: var(--bgcolor-);
                    height: 5vh;
                    color: #fff;

                    & th{
                        padding-left: 1%;
                    }

                    & td{
                        & i{
                            color: yellow !important;
                        }
                    }
                }
                & tr:nth-child(even){
                    height: 10vh;
                    border: 1px solid black;
                }
            }

            & .product__details--item{
                display: none;
                &.active{
                    display: block;
                }
            }
        }
    }

    & .product__-like--list{
        margin-top: 5vh;
        width: 100%;
        height: 75vh;
        background-color: #fff;

        & .product__-like--list-head{
            height: 7vh;
            width: 90%;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            & h1{
                font-size: 1.2vw;
                color: var(--bgcolor-);
                font-weight: bold;
            }
        }

        & .product__-like--list-border{
            height: 70%;
            width: 90%;
            margin: auto;
            margin-top: 5%;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-auto-rows: 50vh;
            gap: 1vw;
        }
    }
}